html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#map1, #map2 {
  width: 49.5%;
  height: 100%;
}

#map1 { float: left; }
#map2 { float: right; }

.basemaps-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

#map1basemaps { left: 10px; }
#map2basemaps { left: calc(50.5% + 10px); }

.leaflet-control-geosearch {
	top: 25px;
}
