body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

#map1 { position:absolute; top:0; bottom:0; left:0; right:50%; }
#map2 { position:absolute; top:0; bottom:0; left:50%; right:0; }
